# @package _global_
core_lib:
  email_core_lib:
    amqp:
      url:
        protocol: amqp
        username: ${oc.env:AMQP_USERNAME}
        password: ${oc.env:AMQP_PASSWORD}
        host: ${oc.env:AMQP_HOST}
        port: ${oc.env:AMQP_PORT}
    client:
#      _target_: email_core_lib.client.mailchimp_client.MailChimpClient
#      api_key: ${oc.env:EMIL_CORE_LIB_MAILCHIMP_API_KEY}
      _target_: email_core_lib.client.send_in_blue_client.SendInBlueClient
      api_key: ${oc.env:EMIL_CORE_LIB_SEND_IN_BLUE_API_KEY}
      slack_email_error_url: ${oc.env:SLACK_WEBHOOK_URL_ERRORS_EMAIL}